.f-container{
    display: flex;
    height: 90vh;
    border: 1px groove white;
    align-items: center;
}

.animation{
    width: 10vw;
    min-width: 30px;
    height: 10vw;
    min-height: 30px;
    background-color: crimson;
    margin: auto;
    position: relative;
    animation: animation 20s infinite;
    animation-delay: 1s;
    z-index: -1;
}

@keyframes animation{
    0% {top: 0px; left:0;background-color: crimson;}
    10% {top: 200px; left:0;background-color: green;}
    20% {top: -200px; left:0;background-color: yellow; transform: rotate(360deg);}
    30% {top: -200px; left:-40%;background-color: yellow; transform: rotate(360deg); border-radius: 10vw;}
    40% {top: 200px; left:40%;background-color: palevioletred; transform:none; border-radius: 10vw; opacity: 0;}
    50% {top: 200px; left:-40%;background-color: palevioletred; transform:rotate(-180deg); border-radius: 0; opacity: .5;}
    60% {top: -200px; left:40%;background-color: palevioletred; transform:rotate(90deg); border-radius: 5vw; opacity: 1;}
    70% {top: -200px; left:-40%;background-color: lightseagreen; transform:rotate(-60deg); border-radius: 20vw; opacity: 1;}
    80% {top: 0px; left:40%;background-color: rgb(14, 48, 199); transform:rotate(-120deg); border-radius: 0vw; opacity: 1;}
    90% {top: 0px; left:0px;background-color: rgb(255, 255, 255); transform:rotate(540deg); border-radius: 0vw; opacity: .8;}
    100% {top: 0px; left:0px;background-color: crimson; transform:rotate(0deg); border-radius: 0vw; opacity: 1;}
}

