.f-container{
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 3rem 2rem 0 2rem; 
}

main table tr td:first-child{
    width: 60%;
    min-width: 230px;
}

main table tr td:last-child{
    width: 39%;
}

main img{
    width:100%;
}

main a{
    color: orange;
    transition: color .5s ease-in-out;
}

main a:hover{
    color: purple;
}